@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1636773977419') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e664";
}

.icon-add-circle:before {
  content: "\e665";
}

.icon-file-delete:before {
  content: "\e670";
}

.icon-file-add:before {
  content: "\e66f";
}

.icon-home:before {
  content: "\e674";
}

.icon-modular:before {
  content: "\e678";
}

.icon-setting:before {
  content: "\e67d";
}

.icon-upload:before {
  content: "\e682";
}

.icon-close-bold:before {
  content: "\e685";
}

.icon-arrow-down-bold:before {
  content: "\e686";
}

.icon-minus-bold:before {
  content: "\e687";
}

.icon-arrow-right-bold:before {
  content: "\e688";
}

.icon-select-bold:before {
  content: "\e689";
}

